/* ========== IMPORTS ========== */

@import url('./sidebar.css');
@import url('./carrito.css');
@import url('./stock.css');
@import url('./login.css');
@import url('./responsive.css');
@import url('./modal.css');
@import url('./modal-order.css');

/* ========== KUROHANA SPA — ESTILOS PRINCIPALES ========== */

@font-face {
    font-family: 'Bankai';
    src: url(/src/assets/font/Bankai\ Demo\ Version.otf) format('opentype');
}

@font-face {
    font-family: "Higuen";
    src: url(/src/assets/font/Higuen\ Serif.otf) format('opentype');
}




/* ========== VARIABLES GLOBALES ========== */

:root {
  /* fondos */
  --fnd1: #232323;
  --fnd2: #161412;
  --fnd3: #1E1C18;

  /* rojos lacados (acento primario) */
  --color1: #C0392B;
  --color2: #E84040;
  --color3: #8B1A1A;

  /* acentos secundarios */
  --color4: #D4A520;   /* dorado */
  --color5: #4A7C59;   /* jade */
  --color6: #8C6A3F;   /* Toasted Bamboo */

  /* texto */
  --txt1: #F5F0E8;
  --txt2: #B0A898;
  --txt3: #5C5650;


  /* aliases semánticos */
  --red-main:   #C0392B;
  --red-light:  #3A1212;
  --red-dark:   #8B1A1A;
  --gold-main:  #D4A520;
  --jade-main:  #4A7C59;
  --text-dark:  #F5F0E8;
  --text-muted: #B0A898;
  --bg-app:     #0D0D0D;
  --white:      #F5F0E8;
  --black:      #050505;

  --border-radius: 16px;
}
/* ========== BASE ========== */

body {
    background-color: var(--fnd1);
    font-family: 'Bankai';
    color: var(--text-dark);
    margin: 0;
    padding: 0;
}

#app {
    margin-left: 220px;
    margin-right: 240px;
    padding: 0px;
    box-sizing: border-box;
    min-height: 100vh;
}

#app.sin-carrito {
    margin-right: 0px;
}
